#videoModal1 .modal-dialog{width:100%; margin:0 auto; background:none; box-shadow: none;}
#videoModal1 .modal-content { box-shadow: none;}
#videoModal1 .modal-dialog .modal-content{background:transparent; margin-top:0px; border:0px; border-radius:0px; padding:0px;}
#videoModal1 .modal-body .button{color:#fff;}
#videoModal1 .button.close{color:#fff; position:absolute;right:-20px;top:-46px; font-size: 70px; text-align: right;}
#videoModal1 .close{font-size:50px; opacity:1; color:#fff; position:absolute; top:5px; right:-20px;}
#videoModal1 .modal-content .modal-body{padding:20px 30px 20px  0;}
#videoModal1 .modal-content .modal-body h2{display:inline-block; left:30px; position:relative; /*top:60px;*/ top:15px; color:#fff;} 
#videoModal1 .modal object, #videoModal .modal iframe#youtubeVideo { padding:0px; width: 90%; margin-left: 60px;}
#videoModal1 .modal.fade.in {padding-right:0px!important;}
#videoModal1 .close:hover, #videoModal .close:focus{opacity:1; color:#fff;}
#videoModal1 .video-section-right .video-icon-container{padding-left:15px;}
/* *************************video container overlay Ends************************************* */

/***************************text overlay Start**************************************/
#textModal .modal-body p { color: #333; margin-bottom: 20px;}
#textModal .modal-backdrop.in { opacity: .9;}
#textModal .modal-header { border-bottom: none;}
#textModal h4 {padding: 0;}
#textModal .modal-content {padding: 40px;}
#textModal .hoverClose-button {display: none;}
#textModal close:hover .close-button {display: none;}
#textModal close:hover .hoverClose-button {display: block;}
/* *************************text overlay Ends************************************* */