<!-- ************************************For Container with Icon Text and Title Start********************************************************* -->
<div class="container-fluid c-container_with_iconTextTitle ${properties.spacingtop} ${properties.color} ${properties.spacingbottom} ${properties.margintop} ${properties.color}">
	<div class="container ${properties.bordertop}">
		<div class ="c-cws_Buy">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-center c-title_Head_Space">
					<sly data-sly-test ="${properties.title1 != NULL}">
                    	<h5 class="${properties.titlecolor}">${properties.title1}</h5>
                    </sly>
                    <sly data-sly-test ="${properties.subtitle != NULL}">
						<h2 class="${properties.subtitlecolor} c-remove_padd_bottom">${properties.subtitle @ context = 'html'}</h2>
                    </sly>
				</div>
				<sly data-sly-use.cpt="websitesecurity.core.utilities.BuyRenewIconTextAndTitle">
					<sly data-sly-list="${cpt.listData}">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 withBorderBuyRenew nospacingboth">
							<div class="bottomSpaceCws">
								<div class="c-additional_product_cws">
									<div>
										<table width="100%" class="c-Table_Heading">
											<tr>
												<td valign="middle"  class="c-img_Space_Width_Cws c-next_Line_Img">
													<div>
														<sly data-sly-test = "${item.image != NULL}">
                                                        	<img src="${item.image}" class="c-product-icon1" title="${item.imgTitle}" alt="${item.altText}"/>
                                                        </sly>
													</div>
												</td>
												<td valign="middle" class="c-next_Line_Img">
                                                	<h3 class="${item.textcolor}">${item.title}</h3>
                                                </td>
											</tr>
										</table>
										<div class="clear"></div>
									</div>
									<p class="c-para_content ${properties.desc1color}">${item.description  @ context = 'html'}</p>
									<p class="c-anchor_link_text"><a href="${item.linkPath}" target="${item.target}">${item.linkText}</a></p>
								</div>
							</div>
						</div>
					</sly>
				</sly>
			</div>
		</div>
	</div>
</div>
<!-- *************************************************For Container with Icon Text and Title ENDS************************************* -->