/* header banner start 
.img1 h2{width: 60%;padding: 20px;}
.img1 .more-link{padding: 20px;color:#fff;}
.img2 h3{width: 90%;padding: 20px;}
.img2 .more-link{padding: 20px;color:#fff;}
.img2 .more-link a{color:#fff;border-bottom: 2px solid #fff;}
.img3 h3{width: 90%;padding: 20px;}
.img3 .more-link{padding: 20px;color:#fff;}
.img3 .more-link a{color:#fff;border-bottom: 2px solid #fff;}
*/